/*========================
	1. Custom font import.
	Lato is used for white and gray
	Open Sans is used for black and white
==========================*/
	@import url('https://fonts.googleapis.com/css?family=Open+Sans');
	@import url('https://fonts.googleapis.com/css?family=Lato');
/*========================
	Background
==========================*/
	html,body,nav{
		height: 100%; 
		width: 100%;  
		margin: 0;  
		padding: 0;  
		left: 0;  
		top: 0;  
		border: 0;}
	footer{	
		display: block;}
	html {  
		box-sizing: border-box;}
	body {	
		overflow-x: hidden;	
		background-color:#fff /*#161618*/;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);}
	* { 
		font-family: 'Lato'; 
		font-weight: 800;  
		color:#fff;}
/*========================
	Avoid chrome issue with underlying links
==========================*/ 
  a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    }
/*========================
    Navigation
==========================*/
	.top-navigation {
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: space-between;
	  background-color: #00BAF0;
	  background: #161618/*#38C5B8*/;
	  color: #fff;
	  height: 50px;
	  padding: 1em;
	  margin-top: 0;
    overflow: hidden;
    position: fixed;
    left:0;
    right:0;
    top: 0;
    width: auto;
    z-index: 500;/*The z-index property specifies the stack order of an element.

An element with greater stack order is always in front of an element with a lower stack order.*/
	}
	.menubar {
	  display: flex;
	  flex-direction: row;
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	}
	.menubar > li {
	  margin: 0 1rem;
	}
  .menubar a{
    text-decoration: none;
    background-color: transparent;
    padding: 5px;
    color: white;
    border-radius: 5px;
  }
  .menubar a:hover {
	  color: #04CA83;
	}
  .bottom-navigation {
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: space-between;
	  background-color: #00BAF0;
	  background: #161618/*#38C5B8*/;
	  color: #fff;
	  height: 50px;
	  padding: 1em;
	  margin-bottom: 0;
    overflow: hidden;
    left:0;
    right:0;
    top: 0;
    width: auto;
	}
  .bottom-menubar {
	  top:136;
	  background-color:#transparent /*light green #38C5B9*/;
	  border-radius: 5px; 
	  margin: 5px;
	  padding: 10px 10px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
    flex:1;
    min-height: 0px; 
    background-color:transapent/*161618*/;
		flex-grow:4;
	}
  .bottom-menubar a{
    text-decoration: none;
    background-color: transparent;
    padding: 5px;
    color: white;
    border-radius: 5px;
  }
  .bottom-menubar a:hover {
	  color: #04CA83;
	}
/*========================
	Font styling
==========================*/
.btn {
  text-decoration: none;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 5px;
	margin-top:500px;
  margin-bottom: 25px;
  overflow:hidden;
  z-index: 1;
	position: bottom;
  display: flex;
	flex-wrap: wrap;
  flex:1;
  }
/*========================
	Font styling
==========================*/
	.strong, .b {
    font-weight: bold;
	}
	.small{
		font-size: 0.5rem;
		line-height: 1.85;
	}
	.medium{
		font-size: 1.5rem;
		line-height: 1.75;
	}
	.large {
		font-size: 2.5rem;
		line-height: 1.65;
	}
	.x-large {
		font-size: 4rem;
		line-height: 1.55;
	}
	h1{
		text-align: center;
		font-weight: 800;
		color: #5d5d5d;
		letter-spacing: 0.225em;
		text-transform: uppercase;
		text-align: center;
		font-size: 85px;
		line-height: 1.5;
		margin: 10px;
		vertical-align: center;
	}
	h1:hover{
		color: white;
	}
/*========================
	Texts inside boxes
==========================*/
	p {
	font-color: #5d5d5d;
  font-size: 1.75rem;
  line-height: 1.6;
	}
  a{
      text-decoration: none;
      background-color: transparent;
      padding: 5px;
      color: #5d5d5d;
      border-radius: 5px;
    }
  a:hover{
        color: white;
      }
/*========================
	Flexboxes
==========================*/
	.content-wrap {
	  height: 100vh;
	  top: 0;
	  width: 80%;
	  margin:auto;
	  display: flex;
	  flex-wrap: wrap;
    flex:1;
    min-height: 0px; 
	}
  .main-box {
	top:136;
	background-color:#transparent /*light green #38C5B9*/;
	margin: 5px;
  height:60px;
	padding: 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
  min-height: 0px; 
  height:200;
  position:relative;
}
	.box {
	  top:136;
	  background-color:#transparent /*light green #38C5B9*/;
	  border-radius: 5px; 
	  margin: 5px;
	  padding: 10px 10px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
    flex:1;
    min-height: 0px; 
    position:relative;
}
  .box p,.main-box p{
  color:#5d5d5d;
  }
	.one {
		background-color:transapent/*161618*/;
	  }
  .button {
    flex-grow:4;
    position: relative;
    text-decoration: none;
    border:  2px solid #41403E;
    border-radius: 50px;
    padding:0;
    cursor: pointer;
    height: 53px;
    width: 200px;
    margin: 20px 10px;
    overflow:hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-text:center;
      }
      .button p{
        font-size: 1.5rem;
        line-height: 1.75;
        margin:0;
      }
.button a, {
  background-color: transparent;
      color: #5d5d5d;
      border-radius: 5px;
}
      .box a, .main-box a{
      text-decoration: underline;
      background-color: transparent;
      color: #5d5d5d;
      border-radius: 5px;
        } 
         .button a:hover,.box a:hover{
                color: white;
              }
  
/*========================
	Flexbox properties
==========================*/
	.fd-row {
	  flex-direction: row;
	}
	.fd-row-reverse {
	  flex-direction: row-reverse;
	}
	.fd-column {
	  flex-direction: column;
	}
	.fd-column-reverse {
	  flex-direction: column-reverse;
	}
	.jc-flex-start {
	  justify-content: flex-start;
	}
	.jc-flex-end {
	  justify-content: flex-end
	}
	.jc-center {
	  justify-content: center
	}
	.jc-space-between {
	  justify-content: space-between;
	}
	.jc-space-around {
	  justify-content: space-around;
	}
	.ai-flex-start {
	  align-items: flex-start;
	}
	.ai-flex-end {
	  align-items: flex-end;
	}
	.ai-stretch {
	  align-items: stretch;
	}
	.ai-center {
	  align-items: center;
	}
/*========================
	Alignments
==========================*/
	.align-center {
		text-align: center;
	}
	.align-right {
		text-align: right;
	}
	.align-left {
		text-align: left;
	}
/*========================
	Footer
==========================*/
	.footer {
	  background-color: transparent;
	  padding: 5px 15px;  
	}
	.footer p {
		  font-size: 0.8rem;
  }
