@import url('https://fonts.googleapis.com/css?family=Lato');

b  { display: block; width: auto; padding: auto; box-sizing: border-box;
	font: 20em lato; letter-spacing: -.05em;
  
	/* gradient */
	//background: -webkit-linear-gradient(-45deg, rgba(107,213,255,1) 0%,rgba(255,167,61,1) 50%,rgba(21,160,3,1) 100%);

	/* image */
	background: url("https://i.redd.it/n9gan1qw51w21.jpg") no-repeat;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	}


a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    }
#menu-button {
  border: 2px solid rgba(41, 37, 47, .3);
  background: rgba(41, 37, 47, 1);
  padding: 14px;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: background 750ms ease-in-out;
  user-select: none;
}
.menu-open #menu-button {
  background: transparent;
}
.hamburger {
  position: relative;
  width: 25px;
  height: 20px;
  transition: transform 750ms ease-in-out;
}

#menu-button:active .hamburger {
  transition: transform 50ms;
  transform: scale(.95);
}

.hamburger::before, .hamburger::after, .hamburger .inner {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background: #ccc;
  transform-origin: 100% 50%;
  transition: all 750ms ease-in-out;
}
.hamburger::before {
  top: -1px;
}
.hamburger .inner {
  top: 9px;
  transform-origin: 50% 50%;
}
.hamburger::after {
  top: 19px;
}
.menu-open .hamburger {
  transform: rotateY(-180deg);
}
.menu-open #menu-button:active .hamburger {
  transform: scale(.95) rotateY(-180deg);
}
.menu-open .hamburger::before,
.menu-open .hamburger::after,
.menu-open .hamburger .inner {
  background: white;
}
.menu-open .hamburger::before {
  transform: translate3d(-4px, 1px, 0) rotateZ(-45deg);  
}
.menu-open .hamburger .inner {
  transform: rotateY(-90deg); 
  transition: transform 375ms, background-color 750ms ease-in-out;
}
.menu-open .hamburger::after {
  transform: translate3d(-4px, -1px, 0) rotateZ(45deg);  
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}
.menu-open nav {
  animation-duration: 10s;
  animation-name: wind;
  animation-iteration-count: infinite;
}
nav::before {
  content: '';
  position: absolute;
  border-right: 1px solid rgba(41, 37, 47, .05);
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: 0;
  background: linear-gradient(45deg,#FFFFC7 , #00B7FF);
  transform: rotateY(90deg);
  transition: transform 350ms;
  transform-origin: 0 0;
  transition-delay: 200ms;
}
.menu-open nav::before {
  transform: none;
  transition-delay: 0;
}
nav ul {
  position: absolute;
  top: 90px;
  left: 20px;
  pointer-events: all;
}
nav li {
  display: flex;
  overflow: hidden;
  font-family: 'Lato';
  font-weight: 200;
  font-size: 26px;
  line-height: 36px;
  opacity: 0;
  padding: 6px 0;
  width: 220px;
  transform: rotateY(90deg) rotateZ(-15deg);
  transition: transform 350ms, opacity 250ms;
  transform-origin: 0 0;
}
nav li a {
  color: rgb(41, 37, 47);
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
nav li a::after {

  position: absolute;
  left: 0;
  width: 220px;
  bottom: 0;
  height: 2px;
  opacity: .5;
  background: linear-gradient(to right, rgba(199, 25, 60, .4), rgba(199, 25, 60, .8));
  transform: translateX(-220px);
  transition: all 200ms 50ms;
}
nav li a:hover::after {
  opacity: 1;
  transform: translateX(0);
  transition: all 400ms 100ms;
}
.menu-open nav li {
  opacity: 1;
  transform: none;
}
nav li:nth-of-type(1) {
  transition-delay: 400ms;
}
nav li:nth-of-type(2) {
  transition-delay: 300ms;
}
nav li:nth-of-type(3) {
  transition-delay: 200ms;
}
nav li:nth-of-type(4) {
  transition-delay: 100ms;
}
nav li:nth-of-type(5) {
  transition-delay: 0;
}
.menu-open nav li:nth-of-type(1) {
  transition-delay: 0;
}
.menu-open nav li:nth-of-type(2) {
  transition-delay: 100ms;
}
.menu-open nav li:nth-of-type(4) {
  transition-delay: 300ms;
}
.menu-open nav li:nth-of-type(5) {
  transition-delay: 400ms;
}
@keyframes wind {
  0%, 100% {
    transform: none; 
  }
  20% {
    transform: rotateX(5deg) rotateY(8deg); 
  }
  40% {
    transform: rotateX(-2deg); 
  }
  60% {
    transform: rotateY(-3deg) rotateX(7deg); 
  }
  80% {
    transform: rotateY(-4deg) rotateX(2deg); 
  }
}
html,body,nav{
		height: 100%; 
		width: 100%;  
		margin: 0;  
		padding: 0;  
		left: 0;  
		top: 0;  
		border: 0;}
	footer{	
		display: block;}
	
	html {  
		box-sizing: border-box;}

	* { 
		font-family: 'Lato'; 
		font-weight: 800;  
		color:#fff;}

	body {	
		overflow-x: hidden;	
		width: 100wh;
		height: 90vh;
		color: #fff;
		background-color: white;
		}

	/*transitioning effect*/
		
		@-webkit-keyframes Gradient {
			0% {
				background-position: 0% 50%
			}
			50% {
				background-position: 100% 50%
			}
			100% {
				background-position: 0% 50%
			}
		}

		@-moz-keyframes Gradient {
			0% {
				background-position: 0% 50%
			}
			50% {
				background-position: 100% 50%
			}
			100% {
				background-position: 0% 50%
			}
		}

		@keyframes Gradient {
			0% {
				background-position: 0% 50%
			}
			50% {
				background-position: 100% 50%
			}
			100% {
				background-position: 0% 50%
			}
		}

/*========================
	Font styling
==========================*/
	.x-large {
		font-size: 3rem;
		line-height: 1.55;
		}
	.large{
		font-size: 2.5rem;
		line-height: 1.6;
		}
	.medium{
		font-size: 1.5rem;
		line-height: 1;
		color: #333333;
		}
	h1{
		text-align: center;
		font-weight: 800;
		color: #333333;
		letter-spacing: 0.225em;
		text-transform: uppercase;
		font-size: 85px;
		line-height: 1.5;
		margin: 10px;
		vertical-align: center;
		}
	h2{
		color: #333333;
		font-weight: 700;
		font-size: 25px;
	}
		h1:hover{
		color: #51e6a6;
		}
	
	p {
		font-color: #5d5d5d;
	  	font-size: 1.5 rem;
	  	line-height: 1.6;
		}

    button{
    	background-color: transparent;
    	border: none;
    }
   
/*========================
	Flexboxes
==========================*/
	.content-wrap /*entire section*/ {
	  	top: 0;
	  	width: 80%;
	  	margin:auto;
	  	display: flex;
	  	flex-wrap: wrap;
    	flex:1;
   	 	min-height: 100%; 
			}
	.demo-wrap {
	  height: 100%;
	  width: 80%;
	  margin: 0 auto;
	  border-radius: 5px;
	  display: flex;
	  flex-wrap: wrap;
	}
/*========================
	about__intro box
==========================*/
	.about__intro {
	    border-left: 2px solid;
			border-color:#333333;
	    padding-left: 2.2em;
	    margin-bottom: 1em;
	    max-width: 25em;
	}

	.about__intro p{
		color:#333333;
	}

	.about__intro a{
		color:#333333;
	}

	.about__intro a:hover{
		color: #51e6a6;
	}
/*========================
	Flexboxes
==========================*/
  	.main-box, .blurry-box,.box  {
		background-color:transparent /*light green #38C5B9*/;
		margin: 0 auto;
		padding: 10px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	  	min-height: 0px; 
	  	height:80px;
	  	position:relative;
		}
	.blurry-box {
	  	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	  	height:auto;
	   	border-radius: 75px; 
	   	flex:4;
		}

/*========================
	smaller boxes
==========================*/
	.box {
	  	border-radius: 5px; 
	  	margin: 5px;
    	flex:1;
    	position:relative;
	  	background-color:transparent;
		padding: 10px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	  	min-height: 0px; 
	  	height:80px;
	  	position:relative;
		}
	.box p,.main-box p, .blurry-box p, .demo-wrap p{
		  color:#333333;
		  }

	.two{
  		background-color: transparent;
  		width: 100%;
  		height:100%;
  		text-align: left;
		}

		.two a{
		  color:#333333;
		  }

		  .two a:hover{
		  color:#454545;
		  }

/*========================
	main boxes
==========================*/
	.main-box p, {
		display: none;
		font-weight: 800;
		color: #333333;
		letter-spacing: 0.225em;
		font-size: 15px;
		text-align: center;
	}

	.button {
	  color:#454545;/*font colour*/
	  background:transparent;
	  border-width:2px;
	  border-style: solid;
	  border-color: #454545;
	  position:relative;
	  margin:1em;display:inline-block;
	  padding:0.5em 1em;
	  transition:all 0.3s ease-in-out;}
.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}
	.button:before, .button:after {
	  content:'';
	  display:block;
	  position:absolute;
	  border-color:#454545;
	  box-sizing:border-box;
	  border-style:solid;
	  width:1em;
	  height:1em;
	  transition:all 0.3s ease-in-out;}
	  
	.button:before {
		top:-6px;
		left:-6px;
		border-width:2px 0 0 2px;
		z-index:5;}
	
	.button:after {
		bottom:-6px;
		right:-6px;
		border-width:0 2px 2px 0;}

	.button:hover:before, .button:hover:after {
		width:calc(100% + 12px);/*corners of the box touch each other*/
	  	height:calc(100% + 12px);border-color:#fff;}

	.button:hover {
		color:#353535;
		background-color:#51e6a6;
		border-color:#fff;}


	.button a {
	  	text-align:center;
		position:relative;
		margin:0;
		visibility:hidden;}

/*========================
	Flexbox properties
==========================*/
	.fd-row {
	  flex-direction: row;
	}
	.fd-row-reverse {
	  flex-direction: row-reverse;
	}
	.fd-column {
	  flex-direction: column;
	}
	.fd-column-reverse {
	  flex-direction: column-reverse;
	}
	.jc-flex-start {
	  justify-content: flex-start;
	}
	.jc-flex-end {
	  justify-content: flex-end
	}
	.jc-center {
	  justify-content: center
	}
	.jc-space-between {
	  justify-content: space-between;
	}
	.jc-space-around {
	  justify-content: space-around;
	}
	.ai-flex-start {
	  align-items: flex-start;
	}
	.ai-flex-end {
	  align-items: flex-end;
	}
	.ai-stretch {
	  align-items: stretch;
	}
	.ai-center {
	  align-items: center;
	}
/*========================
	Alignments
==========================*/
	.align-center {
		text-align: center;
	}
	.align-right {
		text-align: right;
	}
	.align-left {
		text-align: left;
	}
/*========================
	Footer
==========================*/
	.footer {
	  background-color: transparent;
	  padding: 5px 15px;  
	}
	.footer p {
		  font-size: 0.8rem;
  }
