/*========================
	1. Custom font import.
	Lato is used for white and gray
	Open Sans is used for black and white
==========================*/
	@import url('https://fonts.googleapis.com/css?family=Open+Sans');
	@import url('https://fonts.googleapis.com/css?family=Lato');
/*========================
	Background
==========================*/
	html,body,nav{
		height: 100%; 
		width: 100%;  
		margin: 0;  
		padding: 0;  
		left: 0;  
		top: 0;  
		border: 0;}
	footer{	
		display: block;}
	
	html {  
		box-sizing: border-box;}

	* { 
		font-family: 'Lato'; 
		font-weight: 800;  
		color:#fff;}

	body {	
		overflow-x: hidden;	
    	background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
		width: 100wh;
		height: 90vh;
		color: #fff;
		background-size: 400% 400%;
		-webkit-animation: Gradient 15s ease infinite;
		-moz-animation: Gradient 15s ease infinite;
		animation: Gradient 15s ease infinite;
		}

	/*transitioning effect*/
		
		@-webkit-keyframes Gradient {
			0% {
				background-position: 0% 50%
			}
			50% {
				background-position: 100% 50%
			}
			100% {
				background-position: 0% 50%
			}
		}

		@-moz-keyframes Gradient {
			0% {
				background-position: 0% 50%
			}
			50% {
				background-position: 100% 50%
			}
			100% {
				background-position: 0% 50%
			}
		}

		@keyframes Gradient {
			0% {
				background-position: 0% 50%
			}
			50% {
				background-position: 100% 50%
			}
			100% {
				background-position: 0% 50%
			}
		}
/*========================
	Avoid chrome issue with underlying links
==========================*/ 
  a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    }
/*========================
    Navigation
==========================*/
	.top-navigation{
		display: flex;
	  	flex-direction: row;
	  	align-items: center;
	  	justify-content: space-between;
	  	background-color: #00BAF0;
	  	background: #161618/*#38C5B8*/;
	  	color: #fff;
	  	height: 50px;
	  	padding: 1em;
	  	margin-top: 0;
	    overflow: hidden;
	    position: fixed;
	    left:0;
	    right:0;
	    top: 0;
	    width: auto;
    	z-index: 500;/*The z-index property specifies the stack order of an element.An element with greater stack order is always in front of an element with a lower stack order.*/
		}
	.menubar {
	  display: flex;
	  flex-direction: row;
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
		}
	.menubar > li {
	  margin: 0 1rem;
		}
  	.menubar a,.bottom-menubar a{
	    text-decoration: none;
	    background-color: transparent;
	    padding: 5px;
	    color: white;
	    border-radius: 5px;
	  	}	
  	.bottom-navigation {
	  	display: flex;
	  	flex-direction: row;
	  	align-items: center;
	  	justify-content: space-between;
	  	background-color: #00BAF0;
	  	background: #161618/*#38C5B8*/;
	  	color: #fff;
	 	height: 50px;
	  	padding: 1em;
	  	margin-bottom: 0;
	    overflow: hidden;
	    left:0;
	    right:0;
	    top: 0;
	    width: auto;
		}
  	.bottom-menubar {
	  	top:136;
	  	background-color:#transparent /*light green #38C5B9*/;
	  	border-radius: 5px; 
	  	margin: 5px;
	  	padding: 10px 10px;
	  	display: flex;
	  	justify-content: center;
	  	align-items: center;
    	flex:1;
    	min-height: 0px; 
    	background-color:transapent/*161618*/;
		flex-grow:4;
		}
	.menubar a:hover ,.bottom-menubar a:hover {
		  color: #04CA83;
			}
/*========================
	Font styling
==========================*/
	.x-large {
		font-size: 4rem;
		line-height: 1.55;
		}
	.large{
		font-size: 2.5rem;
		line-height: 1.6;
		}
	.medium{
		font-size: 1.5rem;
		line-height: 1;
		}
	h1{
		text-align: center;
		font-weight: 800;
		color: #5d5d5d;
		letter-spacing: 0.225em;
		text-transform: uppercase;
		text-align: center;
		font-size: 85px;
		line-height: 1.5;
		margin: 10px;
		vertical-align: center;
		}
	h1:hover{
		color: white;
		}
	p {
		font-color: #5d5d5d;
	  	font-size: 1.5 rem;
	  	line-height: 1.6;
		}
  	a{
      text-decoration: none;
      background-color: transparent;
      padding: 5px;
      color: #5d5d5d;
      border-radius: 5px;
    	}
  	a:hover{
        color: white;
      }
/*========================
	Flexboxes
==========================*/
	.content-wrap /*entire section*/ {
	  	height: 100vh;
	  	top: 0;
	  	width: 80%;
	  	margin:auto;
	  	display: flex;
	  	flex-wrap: wrap;
    	flex:1;
   	 	min-height: 0px; 
			}
  	.main-box/*not blurry*/, .blurry-box,.box  {
		top:136;
		background-color:#transparent /*light green #38C5B9*/;
		margin: 0 auto;
	  	background-color:transparent;
		padding: 10px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	  	min-height: 0px; 
	  	height:60px;
	  	position:relative;
		}
	.blurry-box {
	  	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	  	height:auto;
	   	border-radius: 75px; 
	   	flex:4;
		}
	.box {
	  	border-radius: 5px; 
	  	margin: 5px;
    	flex:1;
    	position:relative;
		}
	.box p,.main-box p, .blurry-box p{
		  color:#5d5d5d;
		  }
	.one {
		background-color:transapent/*161618*/;
	  }

	button {
	  color:#454545;/*font colour*/
	  background:transparent;
	  border-width:2px;
	  border-style: solid;
	  border-color: #454545;
	  position:relative;
	  margin:1em;display:inline-block;
	  padding:0.5em 1em;
	  transition:all 0.3s ease-in-out;
	  text-align:center;
	  font-family:comfortaa;
	  font-weight:bold}
	button:before, button:after {
	  content:'';
	  display:block;
	  position:absolute;
	  border-color:#454545;
	  box-sizing:border-box;
	  border-style:solid;
	  width:1em;
	  height:1em;
	  transition:all 0.3s ease-in-out}
	button:before {
		top:-6px;
		left:-6px;
		border-width:2px 0 0 2px;
		z-index:5;}
	button:after {
		bottom:-6px;
		right:-6px;
		border-width:0 2px 2px 0;}
	button:hover:before, button:hover:after {
		width:calc(100% + 12px);/*corners of the box touch each other*/
	  	height:calc(100% + 12px);border-color:#fff}
	button:hover {
		color:#353535;
		background-color:#fff;
		border-color:#fff}

	.panel {
	  	text-align:center;
		position:relative;
		margin:0;}

	.pink button {color:linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);border-color:#linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);}
	.pink button:before, .pink button:after  {border-color:linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);}
	.pink button:hover:before, .pink button:hover:after {border-color:linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);}
	.pink button:hover {color:#fff;background-color:linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);border-color:linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);}
/*========================
	Flexbox properties
==========================*/
	.fd-row {
	  flex-direction: row;
	}
	.fd-row-reverse {
	  flex-direction: row-reverse;
	}
	.fd-column {
	  flex-direction: column;
	}
	.fd-column-reverse {
	  flex-direction: column-reverse;
	}
	.jc-flex-start {
	  justify-content: flex-start;
	}
	.jc-flex-end {
	  justify-content: flex-end
	}
	.jc-center {
	  justify-content: center
	}
	.jc-space-between {
	  justify-content: space-between;
	}
	.jc-space-around {
	  justify-content: space-around;
	}
	.ai-flex-start {
	  align-items: flex-start;
	}
	.ai-flex-end {
	  align-items: flex-end;
	}
	.ai-stretch {
	  align-items: stretch;
	}
	.ai-center {
	  align-items: center;
	}
/*========================
	Alignments
==========================*/
	.align-center {
		text-align: center;
	}
	.align-right {
		text-align: right;
	}
	.align-left {
		text-align: left;
	}
/*========================
	Footer
==========================*/
	.footer {
	  background-color: transparent;
	  padding: 5px 15px;  
	}
	.footer p {
		  font-size: 0.8rem;
  }
